<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net@NUGET_TARGET_FRAMEWORK@" />
  <package id="CppSharp" version="@CPPSHARP_VERSION@" targetFramework="net@NUGET_TARGET_FRAMEWORK@" developmentDependency="true" />
</packages>